<div class="container">
    <div class="left_container">
      <div class="profileText">
        <div class="myImg">
          <img src="https://scontent.fsgn5-11.fna.fbcdn.net/v/t39.30808-6/333435331_1248940702363858_5350405112198663120_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=174925&_nc_ohc=24FB5B7PKLAAX80XRaz&_nc_ht=scontent.fsgn5-11.fna&oh=00_AfCssn5nKDB2XgpHI-1DHije5o17faEqzcThahCltCvnng&oe=6491BA65" style="height: 200px; width: 200px;">
        </div>
        <h2>NGUYỄN HUỲNH THẾ BẢO<br><span>Web developer</span></h2>
      </div>

      <div class="contactInfo">
        <h3 class="title">Contact Infomation</h3>
        <ul>
          <li>
            <span class="icon"><i class="fas fa-birthday-cake"></i></span>
            <span class="text">29/03/2004</span>
          </li>
          <li>
            <span class="icon"><i class="fas fa-mobile-alt"></i></span>
            <span class="text">0374 151 952</span>
          </li>
          <li>
            <span class="icon"><i class="far fa-envelope"></i></span>
            <span class="text">nguyenhuynhthebao29@gmail.com</span>
          </li>
          <li>
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span class="text">https://www.facebook.com/tre.ho.524</span>
          </li>
          <li>
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            <span class="text">45B, Hồ Bá Kiện, phường 15, quận 10, HCM</span>
          </li>
        </ul>
      </div>

      <div class="contactInfo Education">
        <h3 class="title">Education</h3>
        <ul>
          <li>
            <h5>10.2022 - Hiện nay</h5>
            <h4>Studying Software Engineering</h4>
            <h4>Industrial University of HCM city</h4>
          </li>
          <li>
            <h5>2021 - 2022</h5>
            <h4>Studying Highschool</h4>
            <h4>Tôn Đức Thắng highschool</h4>
          </li>
        </ul>
      </div>

      <div class="contactInfo Languages">
        <h3 class="title">Languages</h3>
        <ul>
          <li>
            <span class="text">English</span>
            <span class="percent">
              <div style="width: 50%;"></div>
            </span>
          </li>
        </ul>
      </div>

    </div>
    <div class="right_container">
      <div class="about">
        <h2 class="title2">Profile</h2>
<!-- tôi là một chàng trai bước đi vững vàng trên hành trình mình đan theo đuổi. 
Tôi không ngại những khó khăn, thách thức, khi gặp vấn đề thì tôi sẽ tìm cách vượt qua. 
Chàng trai này không ngại lao vào những kiến thức mới mẻ để học hỏi, tích lũy kinh nghiệm và khám phá mọi khía cạnh của bản thân, hoàn thiện tôi trở nên tốt nhất -->
<!-- Khi bước vào một môi trường mới của quý công ty, tôi sẽ mang theo một góc nhìn mới mẻ để tiếp thu kiến ​​thức và thể hiện năng lực hoàn thành nhiệm vụ cho quý công ty. -->
        <p>
          I am a determined young man on my journey of pursuit. I am not afraid of difficulties or challenges; when faced with problems, I will find ways to overcome them. This young man fearlessly dives into new knowledge to learn, accumulate experience, and explore every aspect of myself, striving to become the best version of myself.
        <br><br>When entering a new environment of your esteemed company, I will bring a fresh perspective to absorb knowledge and demonstrate the ability to complete tasks for your valuable business.
        </p>
      </div>

      <div class="about">
        <h2 class="title2">Experiences</h2>
        <div class="box">
          <div class="years-company">
            <p> Để trống <br><br><br><br><br><br><br></p>

          </div>
        </div>

      </div> 

      <div class="about skills">
        <h2 class="title2">Professional Skills</h2>
        <div class="box">
          <h4>HTML</h4>
          <div class="percent">
            <div style="width: 70%;"></div>
          </div>
          <h4>CSS</h4>
          <div class="percent">
            <div style="width: 50%;"></div>
          </div>
          <h4>JAVASCRIPT</h4>
          <div class="percent">
            <div style="width: 30%;"></div>
          </div>
          <h4>C/C++</h4>
          <div class="percent">
            <div style="width: 70%;"></div>
          </div>
          <h4>JAVA</h4>
          <div class="percent">
            <div style="width: 5%;"></div>
          </div>
        </div>
      </div>

      <div class="about interest">
        <h2 class="title2">Interesting</h2>
        <ul>
          <li><i class="fas fa-gamepad"></i> Gaming</li>
          <li><i class="fas fa-music"></i> Music</li>
          <li><i class="fas fa-motorcycle"></i> Traveling</li>
          <li><i class="fas fa-film"></i> Movies</li>
        </ul>
      </div>

    </div>
</div>
